<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin Administrator
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	</head>
	<body>
		<div id='adminWrapper'>
			<aside>
				<br>
				<ul>
					<a href='/'>
						<li>
							<img src="/img/adminHome.png" height='32px' width='32px' />

							<p>
								HOME
							</p>
						</li>
					</a>
					<a href='/admin/'>
						<li>
							<img src="/img/adminStats.png" height='32px' width='32px' />

							<p>
								STATISTICS
							</p>
						</li>
					</a>
					<a href='/admin/reports'>
						<li>
							<img src="/img/adminReport.png" height='32px' width='32px' />

							<p>
								REPORTS
							</p>
						</li>
					</a>
					<a href='/admin/users'>
						<li>
							<img src="/img/adminUser.png" height='32px' width='32px' />

							<p>
								USERS
							</p>
						</li>
					</a>
					<a href='/admin/blog'>
						<li>
							<img src="/img/adminBlog.png" height='32px' width='32px' />

							<p>
								BLOG
							</p>
						</li>
					</a>
					<a href='/admin/feedback'>
						<li>
							<img src="/img/adminFeedback.png" height='32px' width='32px' />
							<p>
								FEEDBACK
							</p>
						</li>
					</a>
				</ul>
			</aside>
			<div id='contentWrapper'>
				<div id='wrapper'>
					<h2>
						FEEDBACK
					</h2>
					<br>
					<div id='feedback'>

					</div>
					
					<script type="text/javascript">
						var feedback = <%- feedback %>;
						console.log(feedback);
						if(feedback.length == 0) {
							$('#feedback').append('<p>Nothing available.</p>');
						} else {
							for(var i = 0; i < feedback.length; i++) {
								if(feedback[i].type == '1') {
									$('#feedback').append("<div class='feedbackWrapper'><h6><a href='/profile/"+feedback[i].author+"'>"+feedback[i].author+"</a> | Ideas <a href='/admin/feedback/"+feedback[i]._id+"/reward' class='reward'>REWARD</a> <a href='/admin/feedback/"+feedback[i]._id+"/delete' class='delete'>DELETE</a></h6><p>"+feedback[i].reason+"</p></div>");
								} else if(feedback[i].type == '2') {
									$('#feedback').append("<div class='feedbackWrapper'><h6><a href='/profile/"+feedback[i].author+"'>"+feedback[i].author+"</a> | Bugs <a href='/admin/feedback/"+feedback[i]._id+"/reward' class='reward'>REWARD</a> <a href='/admin/feedback/"+feedback[i]._id+"/delete' class='delete'>DELETE</a></h6><p>"+feedback[i].reason+"</p></div>");
								} else {
									$('#feedback').append("<div class='feedbackWrapper'><h6><a href='/profile/"+feedback[i].author+"'>"+feedback[i].author+"</a> | Feedback <a href='/admin/feedback/"+feedback[i]._id+"/reward' class='reward'>REWARD</a> <a href='/admin/feedback/"+feedback[i]._id+"/delete' class='delete'>DELETE</a></h6><p>"+feedback[i].reason+"</p></div>");
								}
								
							};
						};
					</script>
				</div>
			</div>
		</div>
	</body>
</html>