<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin Administrator
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	</head>
	<body>
		<div id='adminWrapper'>
			<aside>
				<br>
				<ul>
					<a href='/'>
						<li>
							<img src="https://i.imgur.com/gjt9O1O.png" height='32px' width='32px' />

							<p>
								HOME
							</p>
						</li>
					</a>
					<a href='/admin/'>
						<li>
							<img src="https://i.imgur.com/osDeSHU.png" height='32px' width='32px' />

							<p>
								STATISTICS
							</p>
						</li>
					</a>
					<a href='/admin/reports'>
						<li>
							<img src="https://i.imgur.com/MIcTFnN.png" height='32px' width='32px' />

							<p>
								REPORTS
							</p>
						</li>
					</a>
					<a href='/admin/users'>
						<li>
							<img src="https://i.imgur.com/t1TRPKp.png" height='32px' width='32px' />

							<p>
								USERS
							</p>
						</li>
					</a>
					<a href='/admin/blog'>
						<li>
							<img src="https://i.imgur.com/Wkli7ak.png" height='32px' width='32px' />

							<p>
								BLOG
							</p>
						</li>
					</a>
					<a href='/admin/feedback'>
						<li>
							<img src="https://i.imgur.com/ErFauyV.png" height='32px' width='32px' />
							<p>
								FEEDBACK
							</p>
						</li>
					</a>
				</ul>
			</aside>
			<div id='contentWrapper'>
				<div id='wrapper'>
					<h2>
						BLOG
					</h2>
					<a href='/admin/blog/create'>
						<div id='createBlog'>
							<p>
								CREATE BLOG
							</p>
						</div>
					</a>
					<br>
					<div id='blog'>

					</div>
					
					<script type="text/javascript">
						var blogs = <%- blogs %>;
						if(blogs.length == 0) {
							$('#blog').append('<p>Nothing available.</p>');
						} else {
							for(var i = 0; i < blogs.length; i++) {
								$('#blog').append("<article><div id='articleWrapper'><h4>"+blogs[i].title+"</h4><h6>"+blogs[i].author+" | " + blogs[i].date + "</h6><p>"+blogs[i].content+"</p></div></article>");
							};
						};
					</script>
				</div>
			</div>
		</div>
	</body>
</html>