<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin Administrator
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	</head>
	<body>
		<div id='adminWrapper'>
			<aside>
				<br>
				<ul>
					<a href='/'>
						<li>
							<img src="/img/adminHome.png" height='32px' width='32px' />

							<p>
								HOME
							</p>
						</li>
					</a>
					<a href='/admin/'>
						<li>
							<img src="/img/adminStats.png" height='32px' width='32px' />

							<p>
								STATISTICS
							</p>
						</li>
					</a>
					<a href='/admin/reports'>
						<li>
							<img src="/img/adminReport.png" height='32px' width='32px' />

							<p>
								REPORTS
							</p>
						</li>
					</a>
					<a href='/admin/users'>
						<li>
							<img src="/img/adminUser.png" height='32px' width='32px' />

							<p>
								USERS
							</p>
						</li>
					</a>
					<a href='/admin/blog'>
						<li>
							<img src="/img/adminBlog.png" height='32px' width='32px' />

							<p>
								BLOG
							</p>
						</li>
					</a>
					<a href='/admin/feedback'>
						<li>
							<img src="/img/adminFeedback.png" height='32px' width='32px' />
							<p>
								FEEDBACK
							</p>
						</li>
					</a>
				</ul>
			</aside>
			<div id='contentWrapper'>
				<div id='wrapper' class='report'>
					<h2>
						REPORTS
					</h2>
					<div class='reports'>
						
					</div>
					<script type="text/javascript">
						var reports = <%- reports %>;
						if(reports.length == 0) {
							$('.reports').append('<p>Nothing available.</p>');
						} else {
							for(var i = 0; reports.length; i++) {
								if(reports[i].type == 1) {
									$('.reports').append("<ul><li><strong>DATE: "+reports[i].submitted+"</strong></li><li><strong>USERNAME: "+reports[i].from+"</strong></li><li><strong>ID: "+reports[i].ID+"</strong></li><li><strong>TYPE: Request</strong></li><h6>"+reports[i].title+"</h6><p>"+reports[i].reason+"</p><a href='/admin/reports/"+reports[i]._id+"/ignore'>IGNORE REPORT</a><a href='/admin/reports/"+reports[i]._id+"/delete'>  DELETE LISTING</a></ul><br>");
								} else {
									$('.reports').append("<ul><li><strong>DATE: "+reports[i].submitted+"</strong></li><li><strong>USERNAME: "+reports[i].from+"</strong></li><li><strong>ID: "+reports[i].ID+"</strong></li><li><strong>TYPE: Service</strong></li><h6>"+reports[i].title+"</h6><p>"+reports[i].reason+"</p><a href='/admin/reports/"+reports[i]._id+"/ignore'>IGNORE REPORT</a><a href='/admin/reports/"+reports[i]._id+"/delete'>  DELETE LISTING</a></ul><br>");
								}
								
							};
						};
					</script>
				</div>
			</div>
		</div>
	</body>
</html>