<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin Administrator
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	</head>
	<body>
		<div id='adminWrapper'>
			<aside>
				<br>
				<ul>
					<a href='/'>
						<li>
							<img src="https://i.imgur.com/gjt9O1O.png" height='32px' width='32px' />

							<p>
								HOME
							</p>
						</li>
					</a>
					<a href='/admin/'>
						<li>
							<img src="https://i.imgur.com/osDeSHU.png" height='32px' width='32px' />

							<p>
								STATISTICS
							</p>
						</li>
					</a>
					<a href='/admin/reports'>
						<li>
							<img src="https://i.imgur.com/MIcTFnN.png" height='32px' width='32px' />

							<p>
								REPORTS
							</p>
						</li>
					</a>
					<a href='/admin/users'>
						<li>
							<img src="https://i.imgur.com/t1TRPKp.png" height='32px' width='32px' />

							<p>
								USERS
							</p>
						</li>
					</a>
				</ul>
			</aside>
			<div id='contentWrapper'>
				<div id='wrapper'>
					<h2>
						STATISTICS
					</h2>
					<br>
					
					<table border='1' width='100%'>
						<tr>
							<th>
								METRIC
							</th>
							<th>
								QUANTITY
							</th>
							<th>
								ADDITIONAL INFORMATION
							</th>
						</tr>
						<tr>
							<td>
								REQUESTS
							</td>
							<td>
								<%= requests %>
							</td>
							<td>
								HOW MANY REQUESTS THERE ARE
							</td>
						</tr>	
						<tr>
							<td>
								SERVICES
							</td>
							<td>
								<%= services %>
							</td>
							<td>
								HOW MANY SERVICES THERE ARE
							</td>
						</tr>	
						<tr>
							<td>
								USERS
							</td>
							<td>
								<%= users %>
							</td>
							<td>
								HOW MANY USERS THERE ARE
							</td>
						</tr>		
					</table>
				</div>
			</div>
		</div>
	</body>
</html>