<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin Administrator
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	</head>
	<body>
		<div id='adminWrapper'>
			<aside>
				<br>
				<ul>
					<a href='/'>
						<li>
							<img src="/img/adminHome.png" height='32px' width='32px' />

							<p>
								HOME
							</p>
						</li>
					</a>
					<a href='/admin/'>
						<li>
							<img src="/img/adminStats.png" height='32px' width='32px' />

							<p>
								STATISTICS
							</p>
						</li>
					</a>
					<a href='/admin/reports'>
						<li>
							<img src="/img/adminReport.png" height='32px' width='32px' />

							<p>
								REPORTS
							</p>
						</li>
					</a>
					<a href='/admin/users'>
						<li>
							<img src="/img/adminUser.png" height='32px' width='32px' />

							<p>
								USERS
							</p>
						</li>
					</a>
					<a href='/admin/blog'>
						<li>
							<img src="/img/adminBlog.png" height='32px' width='32px' />

							<p>
								BLOG
							</p>
						</li>
					</a>
					<a href='/admin/feedback'>
						<li>
							<img src="/img/adminFeedback.png" height='32px' width='32px' />
							<p>
								FEEDBACK
							</p>
						</li>
					</a>
					<a href='/admin/money'>
						<li>
							<img src="/img/adminMoney.png" height='32px' width='32px' />
							<p>
								MONEY
							</p>
						</li>
					</a>
				</ul>
			</aside>
			<div id='contentWrapper'>
				<div id='wrapper'>
					<h2>
						BLOG
					</h2>
					<a href='/admin/blog/'>
						<div id='createBlog'>
							<p>
								READ BLOG
							</p>
						</div>
					</a>
					<br>
					<form method='post' action='/admin/blog/create'>
						<label>
							Title
						</label>
						<br>
						<input type='input' name='title' class='form-control' />
						<label>
							Content
						</label>
						<br>
						<textarea name='content'class='form-control' >

						</textarea>
						<br>
						<input type='submit' value='Submit' />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>