<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin | Be Your Own Boss
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
	</head>

	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<a href='/'>
							<img id='logo' src="/img/logo.png" />
						</a>
					</div>
					<div class="col-sm-5">
						<form method="get" action='/search' id='search'>
							<select name='type'>
								<option value='requests'>
									REQUEST
								</option>
								<option value='services'>
									SERVICE
								</option>
								<option value='users'>
									USER
								</option>
							</select>
							<input type="input" id='query' name="query" />
							<button id='submit' type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
					<div class="col-sm-4">
						<% if (user) { %>
						<ul id='loggedIn'>
							<a href="/profile/<%=user.local.username%>">
								<li>
									<div id='menuProfilePic'>
										<img src='<%=user.local.pic%>' height='50px' width='50px' />
									</div>
									
								</li>
								<li>
									<p>
										<%=user.local.username%>
									</p>
								</li>
							</a>
						</ul>
						<% } else { %>
							<ul id='loggedOut'>
								<a href="/register">
									<li>
										<i class="fas fa-user-plus"></i> REGISTER
									</li>
								</a>
								<a href="/login">
									<li>
										<i class="fas fa-sign-in-alt"></i> LOGIN
									</li>
								</a>
							</ul>
						<% } %>
					</div>
				</div>
			</div>
		</header>

		<div class="container">
			<div class="row" id='request'>
				<div class="col-sm-8">
					<main>
						<div id='wrapper'>
							<h3>
								<%= title %>

								<a href='/request/<%= requestID %>/watch' class='watchlist'>
									WATCH LISTING
								</a>
							</h3>
							<div class='seperator'>

							</div>
							<a href=''> 
								<%= category %>
							</a>
							<div id='image'>

							</div>
						</div>
					</main>
					<div id='about'>
						<div id='wrapper'>
							<h4>
								Description
							</h4>
							<p>
								<%= description %> 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<aside>
						<div id='wrapper'>
							<h4>
								Request
							</h4>
							<div class='seperator'></div>
							<h5>TASK <%= price %></h5>
							<p>
								<i class="fas fa-truck"></i> <strong>Delivery time:</strong> <%= delivery %>
							</p>
							<p>
								<i class="fas fa-calendar"></i> <strong>Posted:</strong> <%= posted %>
							</p>
							<p>
								<i class="fas fa-globe"></i> <strong>Location:</strong> <%= location %>
							</p>
							<% if (user.local.username != offerer) { %>
								<% if (available == true) { %>
								<a href="/request/<%= requestID %>/order">
									<div id='buy'>
										<p>
											BUY NOW
										</p>
									</div>
								</a>
								<% } else { %>
								<a href="#">
									<div id='buy'>
										<p>
											NOT AVAILABLE
										</p>
									</div>
								</a>
								<% } %>
							<% } else { %>
							<a href="/request/<%= requestID %>/offers">
								<div id='buy'>
									<p>
										VIEW OFFERS
									</p>
								</div>
							</a>
							<% } %>
						</div>
					</aside>

					<div id='user'>
						<div id='sidebar'>
							<br>
							<div id='profilePhoto'>
								<img src='<%= userPicture %>' />
							</div>
							
							<h5>
								<center>
									<%= offerer %>
								</center>
							</h5>
							<p>
								<strong><i class="fas fa-star"></i> Reputation:</strong> <a href='/profile/<%= offerer %>/reputation'><%= userReputation %></a>
							</p>
							<p>
								<i class="fas fa-globe"></i> <strong>Location:</strong> <%= userLocation %>
							</p>
							<p>
								<i class="fas fa-calendar"></i> <strong>Account Created:</strong> <%= userCreated %>
							</p>
							<br>
						</div>
						<a href='/profile/<%= offerer %>'>
							<div class='profileButton'>
								REQUESTS
							</div>
						</a>
						<a href='/profile/<%= offerer %>/services'>
							<div class='profileButton'>
								SERVICES
							</div>
						</a>
						<a href='/profile/<%= offerer %>/reputation'>
							<div class='profileButton'>
								REPUTATION
							</div>
						</a>
						<a href='/messages/compose'>
							<div class='profileButton'>
								SEND MESSAGE
							</div>
						</a>
					</div>
					<br>
					<center>
						<a id='report' href='/request/<%= requestID %>/report'>
							REPORT LISTING
						</a>
						<% if(user.local.username == offerer) { %>
						| <a id='report' href='/request/<%= requestID %>/edit'>
							EDIT LISTING
						</a>
						<% } %>
					</center>
				</div>
			</div>
		</div>
	</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul>
							<a href='/'>
								<li>
									HOME 
								</li>
							</a>
							<a href='/about'>
								<li>
									ABOUT
								</li>
							</a>
							<a href='/blog'>
								<li>
									BLOG
								</li>
							</a>
							<a href='mailto:'>
								<li>
									CONTACT
								</li>
							</a>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<% if(user) { %>
								<a href='/dashboard'>
									<li>
										DASHBOARD
									</li>
								</a>
								<a href='/messages'>
									<li>
										MESSAGES
									</li>
								</a>
								<a href='/settings'>
									<li>
										SETTINGS 
									</li>
								</a>
								<a href='/logout'>
									<li>
										LOGOUT
									</li>
								</a>
							<% } else { %>
								<a href='/login'>
									<li>
										LOGIN
									</li>
								</a>
								<a href='/register'>
									<li>
										REGISTER
									</li>
								</a>
							<% } %>
						</ul>
					</div>
					<% if(user) { %>
					<div class="col-sm-4">
						<ul>
							<a href='/request/submit'>
								<li>
									SUBMIT REQUEST
								</li>
							</a>
							<a href='/service/submit'>
								<li>
									SUBMIT SERVICE 
								</li>
							</a>
							<a href='/search?type=requests&query='>
								<li>
									CATEGORIES
								</li>
							</a>
							<a href='/search?type=requests&query='>
								<li>
									LOCATIONS 
								</li>
							</a>
						</ul>
					</div>
					<% } %>
				</div>
			</div>
		</footer>
		<footer id='footerBlack'>
			<center>
				&copy; 2018 TaskCoin
			</center>
		</footer>
	</body>
</html>