<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin | Be Your Own Boss
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<a href='/'>
							<img id='logo' src="/img/logo.png" />
						</a>
					</div>
					<div class="col-sm-5">
						<form method="get" action='/search' id='search'>
							<select name='type'>
								<option value='requests'>
									REQUEST
								</option>
								<option value='services'>
									SERVICE
								</option>
								<option value='users'>
									USER
								</option>
							</select>
							<input type="input" id='query' name="query" />
							<button id='submit' type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
					<div class="col-sm-4">
						<% if (user) { %>
						<ul id='loggedIn'>
							<a href="/profile/<%=user.local.username%>">
								<li>
									<div id='menuProfilePic'>
										<img src='<%=user.local.pic%>' height='50px' width='50px' />
									</div>
									
								</li>
								<li>
									<p>
										<%=user.local.username%>
									</p>
								</li>
							</a>
						</ul>
						<% } else { %>
							<ul id='loggedOut'>
								<a href="/register">
									<li>
										<i class="fas fa-user-plus"></i> REGISTER
									</li>
								</a>
								<a href="/login">
									<li>
										<i class="fas fa-sign-in-alt"></i> LOGIN
									</li>
								</a>
							</ul>
						<% } %>
					</div>
				</div>
			</div>
		</header>

		<div id='dashboard'>
			<div class="container">
				<div class="row" id='dashboard'>
					<div class="col-sm-8">
						<h4>
							Dashboard
						</h4>
						<div id='wallet'>
							<div id='wrapper'>
								<div class="container">
									<div class="row">
										<div class="col-sm-12">
											<h5>
												My Wallet
											</h5>
											<p>
												<i id='amount'><%= user.local.currency %></i> TaskCoin
											</p>
										</div>
										<div class="col-sm-6">
											<a href='#' disabled>
												<div id='walletButton'>
													<p>
														DEPOSIT
													</p>
												</div>
											</a>
										</div>
										<div class="col-sm-6">
											<a href='#'>
												<div id='walletButton'>
													<p>
														WITHDRAW
													</p>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div id='referral'>
							<div id='wrapper'>
								<h5>
									Referral Link
								</h5>
								<p>
									For each person that signs up under this link, you earn 10 TaskCoin.
								</p>
								<input class='form-control' value='/register/<%= user.local.username %>' />
							</div>
						</div>
						<br>
						<div id='referral'>
							<div id='wrapper'>
								<h5>
									Submit Feedback
								</h5>
								<p>
									If your feedback is implemented, you earn 15 TaskCoin.
								</p>
								<% if(reason) { %>
								<div class="alert alert-danger"><%= reason %></div>
								<% } %>
								<form action='/dashboard' method='post'>
									<select class='form-control' name='type'>
										<option value='1' selected>
											Ideas
										</option>
										<option value='2' selected>
											Bugs
										</option>
										<option value='3' selected>
											Feedback
										</option>
									</select>
									<br>
									<textarea name='reason' class='form-control'>

									</textarea>
									<br>
									<input type='submit' value='Submit' />
								</form>
							</div>
						</div>
						<br>
						<% if(transactions) { %>
							<div id='transactions'>
								<div id='wrapper'>
									<h5>
										Transactions
									</h5>
									<table id='transaction' border='1'>
										<tr>
											<th>
												TO
											</th>
											<th>
												FROM
											</th>
											<th>
												AMOUNT
											</th>
											<th>
												DATE
											</th>
										</tr>
									</table>
								</div>
							</div>
						<% } %>	
						<br>
						<% if(requestJobs.length != 0) { %>
						<div id='activeJobs'>
							<div id='wrapper'>
								<h5>
									Request Jobs
								</h5>
								<ul id='jobs'>
									
								</ul>
							</div>
						</div>
						<% } %>
						<br>
						<% if(serviceJobs.length != 0) { %>
						<div id='activeJobs'>
							<div id='wrapper'>
								<h5>
									Service Jobs
								</h5>
								<ul id='serviceJobs'>
									
								</ul>
							</div>
						</div>
						<% } %>
					</div>
					<div class="col-sm-4">
						<div id='user'>
							<div id='sidebar'>
								<br>
								<div id='profilePhoto'>
									<img src='<%=user.local.pic%>' />
								</div>
								
								<h5>
									<center>
										<%= user.local.username %>
									</center>
								</h5>
								<p>
									<strong><i class="fas fa-star"></i> Reputation:</strong> <a href='/profile/<%= user.local.username %>/reputation'><%= user.local.reputation %></a>
								</p>
								<p>
									<i class="fas fa-globe"></i> <strong>Location:</strong> <%= user.local.location %>
								</p>
								<p>
									<i class="fas fa-calendar"></i> <strong>Account Created:</strong> <%= user.local.created %>
								</p>
								<br>
							</div>
							<a href='/request/submit'>
								<div class='profileSubmit'>
									SUBMIT REQUEST
								</div>
							</a>
							<a href='/service/submit'>
								<div class='profileSubmit'>
									SUBMIT SERVICE
								</div>
							</a>
							<br>
							<a href='/profile/<%= user.local.username %>'>
								<div class='profileButton'>
									REQUESTS
								</div>
							</a>
							<a href='/profile/<%= user.local.username %>/services'>
								<div class='profileButton'>
									SERVICES
								</div>
							</a>
							<a href='/profile/<%= user.local.username %>/reputation'>
								<div class='profileButton'>
									REPUTATION
								</div>
							</a>
							<a href='/messages'>
								<div class='profileButton'>
									MESSAGES (INBOX)
								</div>
							</a>
							<% if(user.local.admin == true) { %>
							<br>
							<a href='/admin'>
								<div class='profileButton'>
									ADMIN
								</div>
							</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul>
							<a href='/'>
								<li>
									HOME 
								</li>
							</a>
							<a href='/about'>
								<li>
									ABOUT
								</li>
							</a>
							<a href='/blog'>
								<li>
									BLOG
								</li>
							</a>
							<a href='mailto:'>
								<li>
									CONTACT
								</li>
							</a>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<% if(user) { %>
								<a href='/dashboard'>
									<li>
										DASHBOARD
									</li>
								</a>
								<a href='/messages'>
									<li>
										MESSAGES
									</li>
								</a>
								<a href='/settings'>
									<li>
										SETTINGS 
									</li>
								</a>
								<a href='/logout'>
									<li>
										LOGOUT
									</li>
								</a>
							<% } else { %>
								<a href='/login'>
									<li>
										LOGIN
									</li>
								</a>
								<a href='/register'>
									<li>
										REGISTER
									</li>
								</a>
							<% } %>
						</ul>
					</div>
					<% if(user) { %>
					<div class="col-sm-4">
						<ul>
							<a href='/request/submit'>
								<li>
									SUBMIT REQUEST
								</li>
							</a>
							<a href='/service/submit'>
								<li>
									SUBMIT SERVICE 
								</li>
							</a>
							<a href='/search?type=requests&query='>
								<li>
									CATEGORIES
								</li>
							</a>
							<a href='/search?type=requests&query='>
								<li>
									LOCATIONS 
								</li>
							</a>
						</ul>
					</div>
					<% } %>
				</div>
			</div>
		</footer>
		<footer id='footerBlack'>
			<center>
				&copy; 2018 TaskCoin
			</center>
		</footer>
	</body>
	
	<script type="text/javascript">
		var transactions = <%- transactions %>;
		if(transactions.length == 0) {
			$('#transaction').append('<p>Nothing available.</p>');
		} else {
			for(var i = 0; i < transactions.length; i++) {
				$('#transaction').append("<tr><td>"+transactions[i].userA+"</td><td>"+transactions[i].userB+"</td><td>"+transactions[i].amount+"</td><td>"+transactions[i].date+"</td></tr>");
			};
		};

		var requestJobs = <%- requestJobs %>;
		if(requestJobs.length == 0) {
			$('#jobs').append('<p>Nothing available.</p>');
		} else {
			for(var i = 0; i < requestJobs.length; i++) {
				$('#jobs').append("<li><p><strong>With:</strong> "+requestJobs[i].from+"</p><a href='/request/job/"+requestJobs[i]._id+"'>GO TO JOB</a></li>");
			};
		};

		var serviceJobs = <%- serviceJobs %>;
		if(serviceJobs.length == 0) {
			$('#serviceJobs').append('<p>Nothing available.</p>');
		} else {
			for(var i = 0; i < serviceJobs.length; i++) {
				$('#serviceJobs').append("<li><p><strong>With:</strong> "+serviceJobs[i].customer+"</p><a href='/service/job/"+serviceJobs[i]._id+"'>GO TO JOB</a></li>");
			};
		};
	</script>
</html>