<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin | Be Your Own Boss
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>


		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ">
			<a class="navbar-brand" href="javascript:void(0)">Logo</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse"id="navb">
				<form class="navbar-nav mr-auto">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-success my-2 my-sm-0" type="button">Search</button>
				</form>
				<ul class="form-inline my-2 my-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Link</a>
					</li>
				</ul>
			</div>
		</nav>

		<div id='frontPage'>
			<br>
			<br>
			<h1>Get paid to do tasks or get people to do tasks.</h1>
			<br>
			<h4>Get started now:</h4>
			<div id='findTasks'>
				FIND TASKS TO DO
			</div>
			<div id='offerTasks'>
				OFFER TASKS TO COMPLETE
			</div>
		</div>

		<div id='statistics'>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<br>
						<br>
						<br>
						<center>
							<h3>
								69
							</h3>
							<h4>
								Total number of Tasks
							</h4>
						</center>

						<br>
						<br>
						<br>
					</div>
					<div class="col-sm-4">
						<br>
						<br>
						<br>
						<center>
							<h3>
								999
							</h3>
							<h4>
								Number of Users
							</h4>
						</center>

						<br>
						<br>
						<br>
					</div>
					<div class="col-sm-4">
						<br>
						<br>
						<br>
						<center>
							<h3>
								TASK $19000
							</h3>
							<h4>
								Amount Earned
							</h4>
						</center>

						<br>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>

		<div id='faq'>
			<br>
			<br>
			<h3>
				General Information
			</h3>
			<br>
			<br>
			<button class="accordion">Be Your Own Boss</button>
			<div class="panel">
			  <p>Lorem ipsum...</p>
			</div>

			<button class="accordion">Find Work</button>
			<div class="panel">
			  <p>Lorem ipsum...</p>
			</div>

			<button class="accordion">Make Work3</button>
			<div class="panel">
			  <p>Lorem ipsum...</p>
			</div> 
		</div>

		<div id='getStarted'>
			<br>
			<br>
			<br>
			<center>
				Like what you hear? Get started now... <button>Register</button>
			</center>
			<br>
			<br>
			<br>
		</div>


		<div id='reasonsToJoin'>
			<ul id='reasons'>
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<li>
								<img src="" />
								<h4>
									#1
								</h4>
								<p>
									jfiaifgaifaifaiiifaifjijir<br>apekidsgiajgiajgia<br>jgiajgijgiajsjiasgjisaiji
								</p>	
							</li>
						</div>
						<div class="col-sm-4">
							<li>
								<img src="" />
								<h4>
									#2
								</h4>
								<p>
									jfiaifgaifaifaiiifaifjijirapeki<br>dsgiajgiajgiajgiajgij<br>giajsjiasgjisaiji
								</p>	
							</li>
						</div>
						<div class="col-sm-4">
							<li>
								<img src="" />
								<h4>
									#3
								</h4>
								<p>
									jfiaifgaifaifaiiifaifjijirapekid<br>sgiajgiajgiajgiajgijgi<br>ajsjiasgjisaiji
								</p>	
							</li>
						</div>
					</div>
				</div>
			</ul>
		</div>

		

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4>
							Basics
						</h4>
						<ul id='basics'>
							<li>
								Home
							</li>
							<li>
								About
							</li>
							<li>
								Search
							</li>
							<li>
								TOS
							</li>
						</ul>
					</div>
				<div class="col-sm-4">
					<h4>
						User
					</h4>
					<ul>
						<li>
							Login
						</li>
						<li>
							Register
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h4>
						TaskCoin
					</h4>
					<ul>
						<li>
							About TaskCoin
						</li>
						<li>
							Buy TaskCoin
						</li>
						<li>
							Sell TaskCoin
						</li>
					</ul>
				</div>
			</div>
		</div>
			<h1>Task</h1>
		</footer>
		<footer id='footerBlack'>
			<center>
				&copy; 2018 Task
			</center>
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		    acc[i].addEventListener("click", function() {
		        /* Toggle between adding and removing the "active" class,
		        to highlight the button that controls the panel */
		        this.classList.toggle("active");

		        /* Toggle between hiding and showing the active panel */
		        var panel = this.nextElementSibling;
		        if (panel.style.display === "block") {
		            panel.style.display = "none";
		        } else {
		            panel.style.display = "block";
		        }
		    });
		} 
	</script>
</html>