<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin | Be Your Own Boss
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<a href='/'>
							<img id='logo' src="https://i.imgur.com/EAjp5n9.pngs" />
						</a>
					</div>
					<div class="col-sm-5">
						<form method="get" action='/search' id='search'>
							<select name='type'>
								<option value='requests'>
									REQUEST
								</option>
								<option value='services'>
									SERVICE
								</option>
								<option value='users'>
									USER
								</option>
							</select>
							<input type="input" id='query' name="query" />
							<button id='submit' type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
					<div class="col-sm-4">
						<% if (user) { %>
						<ul id='loggedIn'>
							<a href="/profile/<%=user.local.username%>">
								<li>
									<div id='menuProfilePic'>
										<img src='<%=user.local.pic%>' height='50px' width='50px' />
									</div>
									
								</li>
								<li>
									<p>
										<%=user.local.username%>
									</p>
								</li>
							</a>
						</ul>
						<% } else { %>
							<ul id='loggedOut'>
								<a href="/register">
									<li>
										<i class="fas fa-user-plus"></i> REGISTER
									</li>
								</a>
								<a href="/login">
									<li>
										<i class="fas fa-sign-in-alt"></i> LOGIN
									</li>
								</a>
							</ul>
						<% } %>
					</div>
				</div>
			</div>
		</header>

		<div id='mainIndexImage'>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div id='logo'>

						</div>
						<h1>
							Be Your Own Boss
						</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<br>
					<br>
					<center>
						<h2>
							Benefits of Using TaskCoin
						</h2>
					
						<br>
						<p>
							TaskCoin is the first platform and currency where you can earn money or hire labour.
							<br>
							<br>
							Anyone is free to participate and get started. Our core belief is that anyone should be able to get involved.
						</p>
					</center>
					<br>
					<br>
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<div class='Cards'>
									<div class='icon'>

									</div>
									<h5>
										ANYONE CAN EARN
									</h5>
									<p>
										Anyone, regardless of any factors, can join TaskCoin and start making money. 
									</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class='Cards'>
									<div class='icon'>
										
									</div>
									<h5>
										GET STUFF DONE
									</h5>
									<p>
										If you need work to be done, TaskCoin is the platform for getting it completed.
									</p>
								</div>
								
							</div>
							<div class="col-sm-4">
								<div class='Cards'>
									<div class='icon'>
										
									</div>
									<h5>
										YOU OWN WHAT YOU MAKE
									</h5>
									<p>
										We believe what you make is yours to keep. We don't charge any hidden fees.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>

		<div id='whitepaper'>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<center>
							<br>
							<br>
							<h2>
								Want to Know More?
							</h2>
							<p>
								hav a quick squiz at our whitepaper aye 
							</p>
							<a href=''>
								<div id='readWhitepaper'>
									<p>
										READ WHITEPAPER
									</p>
								</div>
							</a>
							<br>
							<br>
						</center>
					</div>
				</div>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<center>
						<br>
						<br>
						<h2>
							Our Social Media
						</h2>
						<br>
						<br>
						<div class="container" id='social'>
							<div class="row">
								<div class="col-sm-4">
									<a href=''>
										<img src='https://cdn-assets.minds.com/front/dist/assets/logos/bulb.svg' />
										<br>
										<br>
										<center>
											MINDS
										</center>
									</a>
								</div>
								<div class="col-sm-4">
									<a href=''>
										<img src='https://gab.ai/assets/img/logo.png' />
										<br>
										<br>
										<center>
											GAB.AI
										</center>
									</a>
								</div>
								<div class="col-sm-4">
									<a href=''>
										<img src='' />
									</a>
								</div>
							</div>
						</div>
					</center>
				</div>
			</div>
		</div>
		<br>
							<br>

		

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul>
							<a href='/'>
								<li>
									HOME 
								</li>
							</a>
							<a href='/about'>
								<li>
									ABOUT
								</li>
							</a>
							<a href='/blog'>
								<li>
									BLOG
								</li>
							</a>
							<a href='mailto:'>
								<li>
									CONTACT
								</li>
							</a>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<% if(user) { %>
								<a href='/dashboard'>
									<li>
										DASHBOARD
									</li>
								</a>
								<a href='/messages'>
									<li>
										MESSAGES
									</li>
								</a>
								<a href='/settings'>
									<li>
										SETTINGS 
									</li>
								</a>
								<a href='/logout'>
									<li>
										LOGOUT
									</li>
								</a>
							<% } else { %>
								<a href='/login'>
									<li>
										LOGIN
									</li>
								</a>
								<a href='/register'>
									<li>
										REGISTER
									</li>
								</a>
							<% } %>
						</ul>
					</div>
					<% if(user) { %>
					<div class="col-sm-4">
						<ul>
							<a href='/request/submit'>
								<li>
									SUBMIT REQUEST
								</li>
							</a>
							<a href='/service/submit'>
								<li>
									SUBMIT SERVICE 
								</li>
							</a>
							<a href='/search?type=requests&query='>
								<li>
									CATEGORIES
								</li>
							</a>
							<a href='/search?type=requests&query='>
								<li>
									LOCATIONS 
								</li>
							</a>
						</ul>
					</div>
					<% } %>
				</div>
			</div>
		</footer>
		<footer id='footerBlack'>
			<center>
				&copy; 2018 TaskCoin
			</center>
		</footer>
	</body>
</html>