<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin | Be Your Own Boss
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
	</head>

	<body id='product'>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div id='logo'>

						</div>
					</div>
					<div class='col-sm-7'>
						<form>
							<input type="input" id='query' name="query" />
							<input type="submit" id='submit' value='Search' />
						</form>
					</div>	
					<div class="col-sm-3">
						<% if (user) {%>
							<div id='loggedIn'>
								<div id='module'>
									<div id='username'>
										<a href='/profile/<%= user.local.username %>'> <%= user.local.username %> 
										</a>
									</div>
									<div id='photo'>
										<div id='image'>

										</div>
									</div>	
								</div>
								<div id='menuOptions'>
									<ul>
										<li>
											0 TASKCOIN
										</li>
										<a href='/submit'>
											<li>
												SUBMIT
											</li>
										</a>
										<a href='/settings'>
											<li>
												SETTINGS
											</li>
										</a>
										<a href='/logout'>
											<li>
												LOGOUT
											</li>
										</a>
									</ul>
								</div>
							</div>
							<% } %>
					</div>
				</div>
			</div>
		</header>
		<br>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<aside>
						<div id='wrapper'>
							<h4>
								Hire Service
							</h4>
							<div class='seperator'></div>
							<h5>TASK 900</h5>
							<p>
								description of aids 
								description of aids 
								description of aids 
								description of aids 
								description of aids 
							</p>
							<p>
								<i class="fas fa-truck"></i> <strong>Delivery time:</strong> 24 hours.
							</p>
							<p>
								<i class="fas fa-calendar"></i> <strong>Posted:</strong> 2/6/6
							</p>
							<p>
								<i class="fas fa-globe"></i> <strong>Location:</strong> Nigeria
							</p>
							<div id='buy'>
								<p>
									BUY NOW
								</p>
							</div>
						</div>
					</aside>
					<div id='user'>
						<div id='wrapper'>
							<div id='image'>
									
							</div>
							<h5>
								noobsnboobs
							</h5>
							<div class='seperator'></div>
							<a href=''>
								VIEW PROFILE
							</a>
							<p>
								<i class="fas fa-star"></i> <strong>Reputation:</strong> <a href=''>23729</a>
							</p>
							<p>
								<i class="fas fa-globe"></i> <strong>Location:</strong> USA.
							</p>
							<p>
								<i class="fas fa-calendar"></i> <strong>Account Created:</strong> 24 hours.
							</p>
						</div>
					</div>
					<a id='report' href=''>
						REPORT LISTING
					</a>
				</div>
				<div class="col-sm-8">
					<main>
						<div id='wrapper'>
							<h3>
								<% title %>
							</h3>
							<div class='seperator'>

							</div>
							<a href=''> 
								category
							</a>
							<div id='image'>

							</div>
						</div>
					</main>

					<div id='about'>
						<div id='wrapper'>
							<h4>
								About This Service
							</h4>
							<div class='seperator'>

							</div>
							<p>
								drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs drugsdrugs 
							</p>
						</div>
					</div>

					<div id='price'>
						<div id='wrapper'>
							<h4>
								Purchase
							</h4>
							<div class='seperator'>
							

						</div>
					</div>

				</div>
			</div>
		</div>

		</div>
		
		<br>
		<br>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4>
							Basics
						</h4>
						<ul id='basics'>
							<li>
								Home
							</li>
							<li>
								About
							</li>
							<li>
								Search
							</li>
							<li>
								TOS
							</li>
						</ul>
					</div>
				<div class="col-sm-4">
					<h4>
						User
					</h4>
					<ul>
						<li>
							Login
						</li>
						<li>
							Register
						</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<h4>
						TaskCoin
					</h4>
					<ul>
						<li>
							About TaskCoin
						</li>
						<li>
							Buy TaskCoin
						</li>
						<li>
							Sell TaskCoin
						</li>
					</ul>
				</div>
			</div>
		</div>
			<h1>Task</h1>
		</footer>
		<footer id='footerBlack'>
			<center>
				&copy; 2018 Task
			</center>
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
} Th
		</script>
</html>