<!DOCTYPE html>
<html>
	<head>
		<title>
			TaskCoin | Be Your Own Boss
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script defer src="/css/fontawesome-all.js"></script>
		<link rel="stylesheet" href="/css/fontawesome.min.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<a href='/'>
							<img id='logo' src="https://i.imgur.com/EAjp5n9.pngs" />
						</a>
					</div>
					<div class="col-sm-5">
						<form method="get" action='/search' id='search'>
							<select name='type'>
								<option value='requests'>
									REQUEST
								</option>
								<option value='services'>
									SERVICE
								</option>
								<option value='users'>
									USER
								</option>
							</select>
							<input type="input" id='query' name="query" />
							<button id='submit' type="submit">
								<i class="fas fa-search"></i>
							</button>
						</form>
					</div>
					<div class="col-sm-4">
						<ul id='loggedOut'>
							<a href="/register">
								<li>
									<i class="fas fa-user-plus"></i> REGISTER
								</li>
							</a>
							<a href="/login">
								<li>
									<i class="fas fa-sign-in-alt"></i> LOGIN
								</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<br>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="alert alert-danger">
						<strong>WARNING!</strong> Make sure the domain you're on is ___ before registering!
					</div>
					<% if (message.length > 0) { %>
				        <div class="alert alert-danger"><%= message %></div>
				    <% } %>

					<div id='register'>
						<form action='/register' method='post'>
							<h3>
								REGISTER
							</h3>
							<label>
								Username
							</label>
							<br>
							<input type='input' name='username' class='form-control' />
							<label>
								Password
							</label>
							<br>
							<input type='password' name='password' class='form-control' />
							<label>
								Referral (optional)
							</label>
							<br>
							<% if(referral) { %>
								<input type='input' value='<%= referral %>' name='referral' class='form-control' />
							<% } else { %>
								<input type='input' name='referral' class='form-control' />
							<% } %>
							<br>
							<input type='submit' value='Submit' />
						</form>	
					</div>
				</div>
			</div>
		</div>


		</div>

		<br>
		<br>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<ul>
							<a href='/'>
								<li>
									HOME 
								</li>
							</a>
							<a href='/about'>
								<li>
									ABOUT
								</li>
							</a>
							<a href='/blog'>
								<li>
									BLOG
								</li>
							</a>
							<a href='mailto:'>
								<li>
									CONTACT
								</li>
							</a>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul>
							<a href='/login'>
								<li>
									LOGIN
								</li>
							</a>
							<a href='/register'>
								<li>
									REGISTER
								</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<footer id='footerBlack'>
			<center>
				&copy; 2018 TaskCoin
			</center>
		</footer>
	</body>
</html>