html, body {
	height: 100%;
	width: 100%;
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: #eee;
}
#adminWrapper {
	width: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
	height: 100%;
}
#adminWrapper aside {
	width: 75px;
	height: 100%;
	background-color: #333;
	border-right: 1px solid #ffffff;
	float: left;
}
#adminWrapper aside ul {
	list-style-type: none;
	padding: 0px 0px;
	text-align: center;
	font-size: 0.7em;
}
#adminWrapper aside ul li {
	
}
#adminWrapper aside ul li p {
	color: #eee;
}
#contentWrapper {
	width: 92.5%;
	margin: 0% 5.5%;
	height: 100%;
	position: relative;
	overflow-y: scroll;
}
#contentWrapper #wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
#contentWrapper #wrapper h2 {
	margin-top: 20px;
}
#contentWrapper #wrapper #chart {
	width: 100%;
	height: 350px;
	position: relative;
}

/* REPORTS */

.reports {
	background-color: white;
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.reports ul {
	list-style-type: none;
	padding: 0px 0px;
}

/* USERS */

#users {
	width: 100%;
}
