html, body {
	height: 100%;
	width: 100%;
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: #eee;
}
#adminWrapper {
	width: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
	height: 100%;
}
#adminWrapper aside {
	width: 75px;
	height: 100%;
	background-color: #333;
	border-right: 1px solid #ffffff;
	float: left;
}
#adminWrapper aside ul {
	list-style-type: none;
	padding: 0px 0px;
	text-align: center;
	font-size: 0.7em;
}
#adminWrapper aside ul li {
	
}
#adminWrapper aside ul li p {
	color: #eee;
}
#contentWrapper {
	width: 92.5%;
	margin: 0% 5.5%;
	height: 100%;
	position: relative;
	overflow-y: scroll;
}
#contentWrapper #wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
}
#contentWrapper #wrapper h2 {
	margin-top: 20px;
}
#contentWrapper #wrapper #chart {
	width: 100%;
	height: 350px;
	position: relative;
}

/* REPORTS */

.reports {
	background-color: white;
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.reports ul {
	list-style-type: none;
	padding: 0px 0px;
}

/* USERS */

#users {
	width: 100%;
}

/* BLOG */

#createBlog {
	padding-top: 0px;
	border: 1px solid #ddd;
	text-align: center;
	width: 130px;
	border-radius: 4px;
	background-color: white;
}
#createBlog p {
	margin-bottom: 1px;
	font-family: monospace;
	color: #ddd;
}

article {
	background-color: white;
	border: 1px solid #eee;
	margin-bottom: 25px;
	width: 99%;
}
article #articleWrapper {
	width: 96%;
	margin: 0px auto;
	padding-top: 25px;
	padding-bottom: 15px;
}
article #articleWrapper .delete {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.55em;
	color: #ddd;
	border: 1px solid #ddd;
	float: right;
	font-family: monospace;
}

/* FEEDBACK */

.feedbackWrapper {
	width: 100%;
	background-color: white;
	border: 1px solid #ddd;
	margin-bottom: 15px;
}
.feedbackWrapper h6 {
	padding: 10px 10px;
	margin-bottom: -5px;
}
.feedbackWrapper p {
	padding-left: 10px;
}
.feedbackWrapper h6 .delete {
	float: right;
	margin-right: 10px;
	border: 1px solid #ddd;
	padding-left: 5px;
	padding-right: 5px;
	color: #ddd;
	font-family: monospace;
}
.feedbackWrapper h6 .reward {
	float: right;
	margin-right: 10px;
	border: 1px solid #ff9000;
	padding-left: 5px;
	padding-right: 5px;
	color: #ff9000;
	font-family: monospace;
}